html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.dot-game {
  background: #131417;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  & .game-panel {
    z-index: 9;
  }

  & .game-zone {
    flex: 1;
  }
}

.game-panel {
  background: #282c35;
  position: relative;
  padding: 16px;
  border-bottom: solid 1px #ffa7c4;
}

.score-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}

.score {
  font-size: 36px;
  color: #f0f0ef;

  &__increase {
    display: none;
    position: absolute;
    margin-left: 20px;
    font-size: 30px;

    &:before {
      content: '+';
    }

    &--active {
      display: inline;
      animation-name: fade-in-up;
      animation-duration: 3s;
      animation-iteration-count: 1;

      @keyframes fade-in-up {
        0% {
          top: 20%;
          opacity: 1;
        }
        100% {
          top: -100%;
          opacity: 0;
        }
      }
    }
  }
}

.btn-start-stop {
  background: none;
  width: 140px;
  color: #5fa0ec;
  padding: 8px 24px;
  font-size: 20px;
  border: solid 2px #5fa0ec;

  &:hover {
    color: #fff;
    cursor: pointer;
  }
}

.speed-controller {
  padding-top: 4px;

  &__slider {
    -webkit-appearance: none;
    background: #16c5db;
    margin: 0;
    width: 100%;
    height: 6px;
    border-radius: 8px;
    opacity: 0.7;
    transition: opacity 500ms;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      background: #ffa7c4;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      cursor: pointer;
    }

    &:hover {
      opacity: 1;
    }
  }

  &__speed {
    display: inline-block;
    margin: 14px auto 0;
    color: #f0f0ef;
    font-size: 26px;

    &:before {
      content: 'SPEED: ';
      color: #84a8fa;
    }
  }
}

.game-zone {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0;
    height: 100%;
    opacity: 0;
    transition: opacity 1s;
  }

  &--stopped {
    &:after {
      content: 'PAUSED';
      background: #53595b;
      width: 100%;
      color: #fff;
      font-size: 40px;
      opacity: 0.7;
    }
  }
}

.dot {
  position: absolute;
  border-radius: 50%;

  &:hover {
    cursor: pointer;
    z-index: 1;
  }

  &--pop {
    opacity: 0;
    transform: scale(1.5);
    transition: 0.2s ease-in-out;
  }
}
